<form [formGroup]='form' (ngSubmit)='onSubmit()'>
  <h3>Register a user</h3>
  <div>
    <label>E-mail address
      <input type="text" formControlName='emailAddress'>
    </label>
    {{form.get('emailAddress').errors | json}}
    <label>Password
      <input type="password" formControlName='password'>
    </label>
    {{form.get('password').errors | json}}
    <label>Name
      <input type="text" formControlName='name'>
    </label>
    {{form.get('name').errors | json}}
  </div>
  <button type='submit' [disabled]='form.invalid'>Register</button>
</form>
