<div class="card">
  <div class="card-header">
    <div>
      <h4>{{ drawing.name }} by
        <app-display-user [userId]="drawing.author"></app-display-user>
      </h4>
      <div *ngIf="user" class="pull-right">
        <app-rating [downVotes]="drawing.downVotes" [upVotes]="drawing.upVotes"
                    (addDownVote)="addDrawingDownVote(drawing)"
                    (addUpVote)="addDrawingUpVote(drawing)"
                    [downVoted]="drawing.hasDownVoted(user.id)"
                    [upVoted]="drawing.hasUpVoted(user.id)"></app-rating>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <img [src]="drawing.canvas" class="img-fluid" style="width:100%">
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="list-group list-group-flush list-scrollable">
            <div *ngFor="let comment of drawing.comments" class="list-group-item">
              <div class="card-body">
                <div class="row col-md-12">
                  {{comment.comment}}
                </div>
                <hr>
                <div class="row col-md-12">
                  <div class="col-md-7">
                    <p><strong><em>Written by</em>
                      <app-display-user [userId]="comment.user"></app-display-user>
                    </strong></p>
                  </div>
                  <div *ngIf="user" class="col-md-5">
                    <app-rating [downVotes]="comment.downVotes" [upVotes]="comment.upVotes"
                                (addDownVote)="addCommentDownVote(drawing, comment)"
                                (addUpVote)="addCommentUpVote(drawing, comment)"
                                [downVoted]="comment.hasDownVoted(user.id)"
                                [upVoted]="comment.hasUpVoted(user.id)"></app-rating>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item" *ngIf="drawing.comments.length <= 0">
              <div class="card-body">
                <div class="row col-md-12">
                  <p class="text-muted" *ngIf="user; else notLoggedIn">There are no comments yet. Will you leave the first one?</p>
                  <ng-template #notLoggedIn>
                    <p class="text-muted">Log in <a routerLink="/login">here</a> to leave a comment!</p>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <div class="card" *ngIf="user">
            <app-comment class="card-body" (comment)="addComment($event)"></app-comment>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
