<form [formGroup]="charactersForm" novalidate (ngSubmit)="saveChanges()">
  <div formArrayName="characters">
    <div *ngFor="let character of charactersForm.controls.characters.controls; let i=index" [formGroupName]="i">
      <div class="form-group">
        <input
          title="character name"
          formControlName="character.name"
          name="{{ character.id }}"
          class="form-control">
        <input
          list="classes"
          title="character class"
          formControlName="character.class"
          name="{{ character.id }}"
          class="form-control">
        <button *ngIf="charactersForm.controls.characters.controls.length > 0" (click)="deleteRow(i)"
                class="btn btn-danger">-
        </button>
      </div>
    </div>
  </div>
  <button type="button" (click)="addNewRow()" class="btn btn-primary">+</button>
  <button [routerLink]="['/profile']">Cancel</button>
  <button type="submit" class="btn btn-primary" [disabled]="charactersForm.invalid">Save changes</button>
</form>

<datalist id="classes">
  <option data-ng-repeat="class in classes" value="{{ class.name }}">
</datalist>
