<div *ngIf="user && form" class="card">
  <form [formGroup]='form' (ngSubmit)='create()' class="card-body">
    <div class="form-group">
      <label>Name
        <input type="text" class="form-control" style="width: 100%" formControlName='name'>
      </label>
      <div class="alert alert-danger"
           *ngIf="form.get('name') && form.get('name').touched && form.get('name').errors as errors">
        <span *ngIf="errors.required">You have to fill in a name for the drawing.</span>
        <span *ngIf="errors.maxlength">The name of the drawing can be at most {{errors.maxlength.requiredLength}} characters.</span>
      </div>
    </div>
    <button class="btn btn-info" [disabled]="form.invalid">Create</button>
    <a (click)="location.back()" routerLink="">Cancel</a>
  </form>
</div>
<hr>
<div class="row">
  <app-canvas (canvasUrl)="canvasUrl = $event"></app-canvas>
</div>
