<div *ngIf="user; else loading">
  <h1>Basic information</h1>
  <p><b>E-mail address: </b> {{user.emailAddress}}</p>
  <p><b>Display name: </b> {{user.displayName}}</p>

  <h1>Characters</h1>
  <div *ngIf="user.characters.length > 0; else noCharacters">
    <div *ngFor="let character of user.characters">
      <p><b>Name: </b> {{character.name}}</p>
    </div>
  </div>
  <button routerLink="/profile/characters/edit">Edit characters</button>
</div>


<ng-template #noCharacters>
  <p>You have no characters yet.</p>
</ng-template>

<ng-template #loading>
  <h3>Loading information...</h3>
</ng-template>
